<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"></head>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">
    <div class="table-responsive">
        <table id="bookListTable" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th><input th:id="selectAllBooks" type="checkbox"/></th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>List price</th>
                <th>Our price</th>
                <th>Active?</th>
                <th>Operation?</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="book : ${bookList}">
                <td>
                    <input hidden="hidden" name="id" th:value="${book.id}"/>
                    <input th:id="'selected'+ ${book.id}" class="checkboxBook" type="checkbox"/>
                </td>
                <td><a th:href="@{/bookInfo(id=${book.id})}"><span th:text="${book.title}"></span></a></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.category}"></td>
                <td th:text="${book.listPrice}"></td>
                <td th:text="${book.ourPrice}"></td>
                <td th:text="${book.active}"></td>
                <td>
                    <input hidden="hidden" name="id" th:value="${book.id}"/>
                    <button th:id="'oneBook-'+${book.id}" class="btn btn-danger btn-xs delete-book" type="submit"
                            value="delete">
                        <span class="fa fa-times"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button th:id="deleteSelected" class="btn btn-danger">Delete selected</button>
</div>


<div th:replace="common/header :: body-bottom-scripts"></div>

<script>
    $(document).ready(function () {
        $('#bookListTable').DataTable();
    });
</script>

</body>
</html>
